<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jarry.mapper.TbCartMapper" >
  <resultMap id="BaseResultMap" type="com.jarry.pojo.TbCart" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="item_id" property="itemId" jdbcType="BIGINT" />
    <result column="item_title" property="itemTitle" jdbcType="VARCHAR" />
    <result column="item_image" property="itemImage" jdbcType="VARCHAR" />
    <result column="item_price" property="itemPrice" jdbcType="BIGINT" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_cart
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jarry.pojo.TbCart" >
    insert into tb_cart (id, user_id, item_id, 
      item_title, item_image, item_price, 
      num, created, updated
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{itemId,jdbcType=BIGINT}, 
      #{itemTitle,jdbcType=VARCHAR}, #{itemImage,jdbcType=VARCHAR}, #{itemPrice,jdbcType=BIGINT}, 
      #{num,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jarry.pojo.TbCart" >
    update tb_cart
    set user_id = #{userId,jdbcType=BIGINT},
      item_id = #{itemId,jdbcType=BIGINT},
      item_title = #{itemTitle,jdbcType=VARCHAR},
      item_image = #{itemImage,jdbcType=VARCHAR},
      item_price = #{itemPrice,jdbcType=BIGINT},
      num = #{num,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, user_id, item_id, item_title, item_image, item_price, num, created, updated
    from tb_cart
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, item_id, item_title, item_image, item_price, num, created, updated
    from tb_cart
  </select>
</mapper>